@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(124, 124, 236); */
}

.container{
  position: relative;
  max-width: 1170px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 50px 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3) ;
}

.container header{
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: white;
}

.container form .details{
  margin-top: 10px;
}

.container form .title{
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  color: #ffffff;
  background-color: #512da8;
  border-radius: 6px;
}

.container form .fields1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

form .fields1 .input-field{
  display: flex;
  margin-right: 5%;
  flex-direction: column;
}
.container form .fields{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

form .fields .input-field{
  display: flex;
  width: 520px;
  margin-right: 30px;
  flex-direction: column;
}

.input-field label, .input-fieldH label, .input-fieldB label, .input-fieldC label, .input-fieldN label{
  font-size: 12px;
  font-weight: 500;
  color: black;
}

form .fields .input-fieldR{
  display: flex;
  width: 220px;
  margin-right: 30px;
  flex-direction: row;
}

.input-fieldR label{
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
  color: black;
}

form .fields .input-fieldX,.input-fieldX2{
  display: flex;
  width: 110px;
  margin-right: 30px;
  flex-direction: column;
}

.input-fieldX p{
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
  color: black;
}

.input-fieldX label{
  font-size: 12px;
  font-weight: 500;
  margin-top: -25px;
  margin-left: 40px;
  margin-bottom: 5px;
  color: black;
}

.input-fieldX input{
  outline: none;
  height: 16px;
  width: 50px;
  margin: 8px 0;
}

.input-fieldX2 label{
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 40px;
  color: black;
}

.input-fieldX2 input{
  outline: none;
  height: 16px;
  width: 50px;
  margin: 8px 0;
  margin-bottom: -25px;
}

form .fields .input-fieldM{
  display: flex;
  width: 200px;
  margin-right: 30px;
  flex-direction: column;
}

.input-fieldM p{
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-right: 20px;
  color: black;
}

.input-fieldM label{
  font-size: 12px;
  font-weight: 500;
  margin-top: -25px;
  margin-left: 40px;
  margin-bottom: 5px;
  color: black;
}

.input-fieldM input{
  outline: none;
  height: 16px;
  width: 50px;
  margin: 8px 0;
}

.unit1 p{
  margin-left: -25px;
  margin-right: 35px;
  margin-top: 15px;
  font-size: 12px;
}

.unit2 p{
  margin-left: -35px;
  margin-right: 35px;
  margin-top: 10px;
  font-size: 10px;
}

form .fields .input-fieldH{
  display: flex;
  width: 80px;
  margin-right: 30px;
  flex-direction: column;
}

form .fields .input-fieldB{
  display: flex;
  width: 150px;
  margin-right: 30px;
  flex-direction: column;
}

form .fields .input-fieldC{
  display: flex;
  width: 250px;
  margin-right: 30px;
  flex-direction: column;
}

form .fields .input-fieldN{
  display: flex;
  width: 153px;
  margin-right: 30px;
  flex-direction: column;
}



.input-fieldH input, .input-fieldB input, .input-fieldN input, .input-fieldC select, .input-field input,select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field textarea{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 1px solid #aaa;
  padding: 0 15px;
  margin: 8px 0;
}

.input-field input,textarea, .input-fieldN input, .input-fieldN select, .input-fieldC select,.input-fieldB input, .input-fieldH input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
  color: #707070;
}

.input-field input[type="date"]:valid{
  color: #333;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 20px; 
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 13px; 
  height: 13px; 
  background-color: #ffffff; 
  border-radius: 100%; 
  border: 1px solid;
}

input[type="radio"]:checked + label::before {
  background-color: #512da8;
}


