/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.homeContainer {
    
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: rgb(8, 8, 8);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

ul li a {
    top: 200px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  margin: 0 10px 0 80px;
  position: relative;
  transition: all 0.5s;
  text-transform: uppercase;
}

.list-items:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid white;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.6s;
}

.list-items:hover:before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

.list-items:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border: 3px solid white;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.6s;
}

.list-items:hover:after {
  opacity: 1;
  top: -8px;
  right: -8px;
}
.button3{
    align-items: center;
    background-color: rgba(101, 94, 94, 0.589);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #fffcfc;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    touch-action: manipulation;
    width: 40%;
    margin: 30% 0 0 30%;

  }
  
  .button3:active,
  .button3:hover {
    outline: 0;
  }
  
  .button3:hover {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.19);
    color: #000;
  } */


  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 150px 15px 15px 15px;
    overflow-y: auto;
  }

  @media (max-width: 991px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
  }

  .nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 20px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span,
  .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
  
    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    color: #fff;
    background: #512da8;
  }
  
  .nav-menu a:hover span,
  .nav-menu .active span,
  .nav-menu .active:focus span,
  .nav-menu li:hover>a span {
    color: #fff;
  }
  
  .nav-menu a:hover,
  .nav-menu li:hover>a {
    width: 100%;
    color: #fff;
    text-decoration: none
  }
  
  .nav-menu a:hover span,
  .nav-menu li:hover>a span {
    display: block;
  }