@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*
.homeContainer {
    
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: rgb(8, 8, 8);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
    

ul {
  display: flex;
}

li {
  list-style: none;
}

ul li a {
    top: 200px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  margin: 0 10px 0 80px;
  position: relative;
  transition: all 0.5s;
  text-transform: uppercase;
}

.list-items:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid white;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.6s;
}

.list-items:hover:before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

.list-items:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border: 3px solid white;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.6s;
}

.list-items:hover:after {
  opacity: 1;
  top: -8px;
  right: -8px;
}
.button3{
    align-items: center;
    background-color: rgba(101, 94, 94, 0.589);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #fffcfc;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    touch-action: manipulation;
    width: 40%;
    margin: 30% 0 0 30%;

  }
  
  .button3:active,
  .button3:hover {
    outline: 0;
  }
  
  .button3:hover {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.19);
    color: #000;
  } */

  .buttonHome{
    background-color: transparent;
    color: #d41919;
    font-size: 16px;
    padding: 0;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    cursor: pointer;
  }

  .button_edit{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button_delete{
    background-color: transparent;
    color: red;
    border: 1px solid red;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: -5px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
  }

  .button_view{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: -5px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
  }

  .search{
    display: flex;
    justify-content: space-between;
    /* margin-top: -280px; */
    width: 890px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .button_search{
    background-color: #512da8;
    color: white;
    border-color: #512da8;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 0;
    /* margin-right: 150px; */
    margin-left: 0px;
    cursor: pointer;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .button-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  /* .next-bar{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  } */
  
  .button_next{
    display: flex;
    justify-content: end;
    background-color: #512da8;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 0;
    cursor: pointer;
    border-radius: 4px;
  }

  .button_prev{
    background-color: #512da8;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 0;
  }

  .button_prev2{
    background-color: white;
    cursor:auto;
  }

  .input input{
    outline: none;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border: 1px solid #512da8;
    padding: 0 15px;
    height: 30px;
    width: 280px;
    margin: 0px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  }

  .button_add{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button_dis{
    background-color: transparent;
    color: red;
    border: 1px solid red;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .navM {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .navM .containerN {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }
  
  /* .navM ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  } */
  
  .navM a {
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  /* ------- JavaScript -------*/
  .navM.active {
    background: white;
  }
  
  .navM.active a {
    color: #000;
  }
  /* -------------- */
  
  #header {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s;
    padding: 150px 15px 15px 15px;
    overflow-y: auto;
    /* margin-left: -270px; */
  }

  @media (max-width: 991px) {
    #header {
      width: 240px;
      background: transparent;
      /* border-right: 1px solid #e6e9ec; */
      /* left: -300px; */
    }
  }
  
  /* @media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
  } */

  .nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 20px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span,
  .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 292px) {
  
    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    color: #fff;
    background: #512da8;
  }
  
  .nav-menu a:hover span,
  .nav-menu .active span,
  .nav-menu .active:focus span,
  .nav-menu li:hover>a span {
    color: #fff;
  }
  
  .nav-menu a:hover,
  .nav-menu li:hover>a {
    width: 100%;
    color: #fff;
    text-decoration: none
  }
  
  .nav-menu a:hover span,
  .nav-menu li:hover>a span {
    display: block;
  }
  
  #homeReg{
    position: relative;
    display: flex;
    top: -120px;
    left: 0;
    bottom: 5px;
    z-index: 9997;
  }

  /* .patient_table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  } */


  h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    /* margin-left: -20px; */
    /* width: 90%; */
  }
  .container .patient_table{
   position: relative;
   /* left: 50%; */
   /* top: 70%; */
   /* margin-top: 150px; */
   transform: translate(0%,0%);
   width: 100%; 
   border-collapse: collapse;
   border-spacing: 0;
   /* box-shadow: 0 2px 15px rgba(64,64,64,.7); */
   border-radius: 10px ;
   overflow: hidden;
   /* padding: 10px; */
   background-color: transparent;
   border-color: #000;
  }
  
  td , th{
   padding: 12px 20px;
   text-align: center; 
   width: 280px;
  }

  th{
   background-color: #512da8;
   color: #fafafa;
   font-family: 'Open Sans',Sans-serif;
   font-weight: 200;
   text-transform: uppercase; 
   }

  tr{
   width: 100%;
   background-color: #fafafa;
   font-family: 'Montserrat', sans-serif;
  }
  
  tr:nth-child(even){
   background-color: #eeeeee;
  }

  tfoot{
    background-color: #fafafa;
  }

  .container-home{
    position: relative;
    /* display: flex; */
    /* max-width: 950px; */
    width: 100%;
    /* height: auto; */
    border-radius: 6px;
    padding: 30px;
    margin: 100px 15px;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 5px 10px rgba(0,0,0,0.3) ;
    /* flex-direction: column; */
    
  }

  .container-small-card{
    display: flex;
    justify-content: space-between;
  }
  .small-card{
    width: 200px;
    height: 100px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3) ;
    margin: 10px 10px 10px 10px;
  }
  .title{
    color: gray;
    font-size: 14px;
    /* text-transform: uppercase; */
  }

  .amount{
    font-size: 40px;
  }

  .graph{
    width: 97.5%;
    height: 370px;
    background-color: white;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3) ;
  }

  .container-home-middle{
    display: flex;
    flex-direction: column;
  }

  .container-home-right{
    width: 400px;
    height: 490px;
    /* background-color: white; */
    /* border-radius: 8px; */
    /* margin: 10px 10px 10px 10px; */
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.3) ; */
  }

  .divided{
    width: 400px;
    height: 240px;
    background-color: white;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3) ;
  }

  .without-h2{
    width: 99%;
    display: flex;
    flex-direction: row;
  }

